.topnav {
    position: relative;
    margin: 0;
    width: 100%;
    height: 50px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dashboard,
.home {
    position: relative;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.login {
    position: absolute;
    color: white;
    right: 20%;
}

.register {
    position: absolute;
    text-align: center;
    color: white;
    right: 7%;
}